body {
background: url(http://a.fssta.com/content/dam/fsdigital/fscom/UFC/images/2014/09/12/091214-UFC-A-general-view-of-the-Octagon-and-arena-PI.vresize.1200.675.high.12.jpg);

}

.fighter {
	height: 75px;
	width: 75px;
	border-radius: 50%;

}


div {
	color: white;
	font-size: 20px;
}
button{
	background:url(http://www.ufcorlando.com/static/ufcbackground.jpg);
	color:white;
	margin: 5px;
}
#jjb {
	width:162px;
}
#attack {
	float: left;
	
}
#octagon {
	text-align: center;
}
h1 {
	text-align: right;
	color: white;
}
/*.select {
	text-align: center;
}
#enemyQue{
	text-align: center;
}*/
