body {
	background: url(http://wallpaperpulse.com/img/917080.jpg);
}

.fighter {
	height: 100px;
	width: 100px;
	border-radius: 50%;

}


div {
	color: white;
	font-size: 20px;
}
button{
	background:url(http://www.ufcorlando.com/static/ufcbackground.jpg);
	color:white;
	margin: 5px;
}
#jjb {
	width:162px;
}
#attack {
	text-align: center;
}
.select {
	text-align: center;
}
